.nav-link{
  padding: 10px;
  
  color:aquamarine;
}

.nav-link:hover{
  color:purple;
}

h1{
  padding:10px;
  text-align: center;
  color:aquamarine;
  background-color: black;
}
body{
  background-color: darkslategray;
}

